/* Estilos para la página de Destacados */
body {
    margin: 0;
    padding: 0;
    background-color: #dfedeb; /* Fondo de toda la página (verde claro) */
}

#destacados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra horizontalmente los elementos internos */
    /* align-items: center; *//* Elimina esta propiedad */
    /* text-align: center; *//* Esta propiedad no es necesaria aquí */
    padding: 20px;
    background-color: #dfedeb; /* Fondo de la sección destacados */
    height: 100vh; /* Ajusta la altura según tus necesidades (100vh significa 100% de la altura de la ventana) */
}

#destacados h2 {
    font-size: 36px !important;
    color: #06836c !important;
    margin-bottom: 20px !important;
    text-align: center !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) !important;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.eventos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.evento {
    width: calc(25% - 20px); /* Ancho de cada evento */
    background-color: #ebd889; /* Color de fondo de los eventos (amarillo claro) */
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.evento h3 {
    font-size: 18px;
    color: #06836c; /* Título del evento en color verde oscuro */
    margin: 0;
}

.evento img {
    width: 7cm; /* Ancho fijo deseado */
    height: 5cm; /* Alto fijo deseado */
    object-fit: cover; /* Recortar la imagen para ajustarla al tamaño especificado */
}


.evento p {
    color: #06836c;
    margin: 5px 0;
}

.evento a {
    color: #06836c;
    text-decoration: none;
}

/* custom.css */
#mostrar-mas {
    display: block;
    margin: 0 auto;
    background-color: #06836c; /* Cambia el color de fondo a verde */
    color: #fff; /* Cambia el color del texto a blanco */
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#crear-evento {
    display: block;
    margin: 0 auto;
    background-color: #06836c; /* Cambia el color de fondo a verde */
    color: #fff; /* Cambia el color del texto a blanco */
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

.form-group {
    margin-left: 3cm; /* Agrega un margen derecho */
}

.select-input {
    width: 200px; /* Ancho deseado para los campos select */
    padding: 5px;
    border: 1px solid #06836c;
    border-radius: 4px;
}

.date-input {
    width: 200px; /* Ancho deseado para el campo de fecha */
    padding: 5px;
    border: 1px solid #06836c;
    border-radius: 4px;
}

.submit-button {
    background-color: #06836c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* CSS para el Modal */
.modal-content {
    background-color: #ffffff; /* Color de fondo del modal (amarillo claro) */
}

.modal-title {
    font-size: 24px;
    color: #06836c; /* Color del título del modal (verde oscuro) */
}

.modal-body p {
    font-size: 16px;
    color: #06836c; /* Color del texto en el cuerpo del modal (verde oscuro) */
}

.modal-footer .btn {
    background-color: #05a533; /* Color del botón en el pie del modal (verde oscuro) */
    color: #fff; /* Color del texto del botón en el pie del modal (blanco) */
    border: none;
    border-radius: 4px;
}

/* Añadir emojis a los elementos del modal */
#eventoFechaHora::before {
    content: "⏰ "; /* Emoji de reloj */
    content: "📅 "; /* Emoji de calendario */
}

#eventoLugar::before {
    content: "📍 "; /* Emoji de chincheta */
}

#eventoHost::before {
    content: "👤 "; /* Emoji de usuario */
}

/* Estilos para la Paginación */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.step-links {
    display: flex;
    list-style: none;
    padding: 0;
}

.step-links a {
    color: #06836c;
    padding: 10px;
    text-decoration: none;
    border: 1px solid #06836c;
    border-radius: 4px;
    margin: 0 5px;
}

.step-links .current {
    color: #fff;
    background-color: #06836c;
    padding: 10px;
    border: 1px solid #06836c;
    border-radius: 4px;
    margin: 0 5px;
}








