{%extends 'base.html'%}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/destacados.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'style/base.css' %}">
{% endblock %}

{%block content%}

<div class="adaptive-container text-center" style="margin-top: 2em">
	<div class="content" >
		<h2 class="display" style="color:#0e7e6d">Restablecer contraseña</h2>
		<p class="h5">Porfavor revise su correo y siga las instrucciones para restablecer su contraseña.</p>
	</div>
</div>

{%endblock content%}