{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/base.css' %}">
</head>
<body>
    <div id="navbar">
        <a id="logo" href="/eventos-destacados">
            <img src="{% static 'imag/logo_sin_fondo.png' %}" alt="Logo">
        </a>
        <div id="search">
            <input type="text" placeholder="Buscar eventos por palabra">
            <button type="submit">Buscar</button>
        </div>
        <div class="login-buttons">
            <a href="/perfil_apagno_app/login">Ingresar</a>
            <a href="/perfil_apagno_app/register">Registrarse</a>
        </div>
    </div>
    {% block content %}{% endblock %}
</body>
</html>


