<!-- Enlaces a Bootstrap CSS y JS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style/destacados.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
{% endblock %}

    <!-- incluir el botón "Crear Evento" solo si el usuario está autenticado -->
    <div id="crear-evento">
        <a href="#">Crear Evento</a>
    </div>

{% block content %}
<div class="container"></div>
    <div class="py-5 text-center">
        <h2 class="display" style="font-size: 36px; color: #0e7e6d; text-align: center; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Destacados de la Semana</h2>
    </div>
    <!-- Button trigger modal -->
    <div class="crear-evento">
        <button id='mostrar-mas' type="submit" data-toggle="modal" data-target="#creacionModal" > Crear evento</button>
    </div>
    <!-- Modal creación de evento-->
    <div class="modal fade" id="creacionModal" data-backdrop="static" data-bs-keyboard="false" tabindex="-1"  aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Creación de evento </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- El contenido de tu página va aquí -->
                    {% if user.is_authenticated %}
                    <div class="container" style="margin-top: 2em">

                        <!-- Encabezado de la página-->
                        <div class="py-5 text-center">
                            <h1 class="display-4" style="color:#0e7e6d">Apaño!</h1>
                            <p class="h4">
                                Crea el evento que tengas en mente y compártelo con la comunidad.
                            </p>
                        </div>
                    
                        <!-- Fin encabezado -->
                        <div class="adaptive-container">
                                <!-- Formulario de nueva tarea-->
                            <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %} <!-- csrf token for basic security -->
                                <div class="mb-3">
                                    <label for="nombre" class="form-label">Nombre del evento</label>
                                    <input type="text" id="nombre" class="form-control" placeholder="¿Qué planearás?" name='nombre' required/>
                                </div>
                                <!-- Falta categoría-->
                                <div >
                                    <label for="categoria">Categoría</label>
                                    <select id="categoria"  class="form-control" name="selector_categoria"/>
                                    <option class="disabled" value="">Elige una categoría</option>
                                    {% for categoria in categorias %}
                                        <option class="" value="{{ categoria.nombre }}" name="{{ categoria.nombre }}">{{ categoria.nombre }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="fecha" class="form-label">Fecha</label>
                                    <input type="date" id="fecha" class="form-control"  placeholder="¿Qué día se realizará el evento?" name="fecha" required/>
                                </div>
                                <div class="mb-3">
                                    <label for="hora" class="form-label">Hora</label>
                                    <input type="time" id="hora" class="form-control" placeholder="¿A qué hora se realizará?" name="hora" required/>
                                </div>
                                <div class="mb-3">
                                    <label for="lugar" class="form-label">Localización</label>
                                    <input type="text" id="lugar" class="form-control" placeholder="¿Dónde se realizará?" name="lugar" required/>
                                </div>
                                <div class="mb-3">
                                    <label for="descripcion" class="form-label">Descripción</label>
                                    <textarea id="descripcion" class="form-control" placeholder="Describe el evento que planeas, en un máximo de 250 palabras"rows="3" name="descripcion"></textarea>
                                </div>
                                <div class="mb-3">
									<label for="imagen" class="form-label">Imagen</label>
									<div class="input-group">
									  <input type="file" id="imagen" name="imagen" class="form-control custom-file-input" accept="image/png, image/jpeg"/ required>
									  <label class="custom-file-label" for="imagen">Selecciona un archivo</label>
									</div>
								</div>
                                <!-- Fin formulario de nueva tarea -->
                                <!-- Botones para agregar o eliminar tarea -->
                                <div class="row justify-content-center">
                                        <button class="btn btn-outline-primary" name="eventAdd" type="submit">Agregar evento</button>
                                </div>
                            </form>
                        </div>
                    </div><!-- container -->
                    {% else %}
                    <div class="container" style="margin-top: 2em">
                        <div class="py-5 text-center">
                            <h1 class="display-2" style="color:#0e7e6d">Apaño!</h1>
                            <h1>Creación de evento</h1>
                            <p class="h4">Para poder crear tu evento, primero debes acceder a tu cuenta!</p>
                        </div>
                        <div class="row justify-content-center">
                            <div class="login-buttons">
                                <a href="{% url 'register_user' %}"> <button type="submit"> Registrarse</button></a>
                                <a href="{% url 'login' %}"><button type="submit"> Iniciar Sesión</button></a>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                </div>
            </div>
        </div>
    </div>

    
        <!-- Formulario de filtro aquí -->
        <div class="form-group text-center" style="margin-top: 20px;">
            <form method="GET" action="{% url 'destacados_logged' %}">
                    <label for="tipo">Tipo de Evento:</label>
                    <select name="tipo" id="tipo" class="select-input">
                        <option value="">Todos los tipos</option>
						{% for categoria in categorias %}
							<option value="{{ categoria.nombre }}" {% if request.GET.tipo == categoria.nombre %} selected {% endif %}>{{ categoria.nombre }}</option>
						{% endfor %}
                    </select>
            
                    <label for="fecha">Fecha:</label>
                    <input type="date" name="fecha" id="fecha" class="date-input" value="{{ request.GET.fecha|default_if_none:'' }}">
            
                    <label for="hora">Hora:</label>
                    <select name="hora" id="hora" class="select-input">
                        <option value="" {% if request.GET.hora == "" %} selected {% endif %}>Cualquier hora</option>
                        <option value="6-14" {% if request.GET.hora == "6-14" %} selected {% endif %}>6h a 14h</option>
                        <option value="14-20" {% if request.GET.hora == "14-20" %} selected {% endif %}>14h a 20h</option>
                        <option value="20-6" {% if request.GET.hora == "20-6" %} selected {% endif %}>20h a 6h</option>
                    </select>
            
                    <label for="estado">Estado:</label>
                    <select name="estado" id="estado" class="select-input">
                        <option value="" {% if request.GET.estado == "" %} selected {% endif %}>Todos</option>
                        <option value="terminado" {% if request.GET.estado == "terminado" %} selected {% endif %}>Evento Terminado</option>
                        <option value="sin_comenzar" {% if request.GET.estado == "sin_comenzar" %} selected {% endif %}>Evento Sin Comenzar</option>
                    </select>
            
                <button type="submit" class="submit-button">Aplicar Filtro</button>
            </form>
        </div>

        <!-- Formulario para ordenar -->
        <div class="form-group text-center">
            <form method="GET" id="orden_form" action="{% url 'destacados_logged' %}">
                <label for="orden">Ordenar por:</label>
                <select name="orden" id="orden" class="select-input">
                    <option value="fecha_desc" {% if request.GET.orden == "fecha_desc" %} selected {% endif %}>Fecha descendente</option>
                    <option value="fecha_asc" {% if request.GET.orden == "fecha_asc" %} selected {% endif %}>Fecha ascendente</option>
                </select>
                <button type="submit" class="submit-button">Aplicar orden</button>  <!-- Este botón está oculto para el envío automático -->
            </form>
        </div>

        <!-- Este botón está oculto para el envío automático 
        <script>
            function submitForm() {
                document.getElementById('orden_form').submit();
            }
        </script>
        -->
    <!-- Renderiza los eventos -->
    <div id="eventos-container" class="eventos-container">
        {% for evento in eventos %}
            <div class="evento">
                <h3>{{ evento.nombre }}</h3>
                <img src="{{ evento.imagen.url }}" alt="{{ evento.nombre }}" data-toggle="modal" data-target="#eventoModal" 
                data-id="{{ evento.id }}"
                data-nombre="{{ evento.nombre }}" data-fecha="{{ evento.fecha }}" data-hora="{{ evento.hora }}" data-descripcion="{{ evento.descripcion }}"
                data-host="{{ evento.host }}" data-lugar="{{ evento.lugar }}" data-categoria="{{ evento.categoria }}">
                <p>{{ evento.fecha }}</p>
                <form method="post"> 
                    {% csrf_token %}
                    <input type="hidden" id="eventoId" name ="eventoId" value="{{ evento.id }}">
                    {% if user.is_authenticated %}
                    <button type="submit" name="apano_form" class="submit-button">Apaño</button>
                    {% endif %}
                </form>
            </div>
        {% endfor %}
    </div>

    <!-- Paginación -->
    <div class="pagination" style="display: flex; justify-content: center; margin-top: 20px;">
        <span class="step-links">
            {% if eventos.has_previous %}
                <a href="?page=1" style="color: #06836c; padding: 10px; text-decoration: none; border: 1px solid #06836c; border-radius: 4px; margin: 0 5px;">&laquo; Primero</a>
                <a href="?page={{ eventos.previous_page_number }}" style="color: #06836c; padding: 10px; text-decoration: none; border: 1px solid #06836c; border-radius: 4px; margin: 0 5px;">Anterior</a>
            {% endif %}

            <span class="current" style="color: #fff; background-color: #06836c; padding: 10px; border: 1px solid #06836c; border-radius: 4px; margin: 0 5px;">
                Página {{ eventos.number }} de {{ eventos.paginator.num_pages }}.
            </span>

            {% if eventos.has_next %}
                <a href="?page={{ eventos.next_page_number }}" style="color: #06836c; padding: 10px; text-decoration: none; border: 1px solid #06836c; border-radius: 4px; margin: 0 5px;">Siguiente</a>
                <a href="?page={{ eventos.paginator.num_pages }}" style="color: #06836c; padding: 10px; text-decoration: none; border: 1px solid #06836c; border-radius: 4px; margin: 0 5px;">Último &raquo;</a>
            {% endif %}
        </span>
</div>
<div class="modal fade" id="eventoModal" tabindex="-1" role="dialog" aria-labelledby="eventoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventoModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Mostrar los detalles del evento -->
                <p id="eventoFechaHora">
                    📅 <!-- Emoji de reloj -->
                </p>
                <p id="eventoLugar">
                    📍 <!-- Emoji de chincheta -->
                </p>
                <p id="eventoHost">
                    &#128100; <!-- Emoji de usuario -->
                </p>
                <p><strong>Descripción:</strong></p>
                <p id="eventoDescripcion"></p>

            </div>
            <div class="modal-footer">
                <!-- <form method="post" name="apaño_form"> 
                    {% csrf_token %}
                    <input type="hidden" id="eventoId">
                    <button type="submit" class="btn btn-success" data-dismiss="modal">Apaño</button>
                </form> -->
                
            </div>
        </div>
    </div>
</div>

<script>
    // Capturar el evento al hacer click en la imagen
    $('#eventos-container .evento img').click(function () {
        console
        // Obtener los datos del evento desde los atributos de datos personalizados
        var id = $(this).data('id');
        var nombre = $(this).data('nombre');
        var fecha = $(this).data('fecha');
        var hora = $(this).data('hora');
        var host = $(this).data('host');
        var lugar = $(this).data('lugar');
        var descripcion = $(this).data('descripcion');
        var categoria = $(this).data('categoria');
        // Concatenar la fecha y la hora
        var fechaHora = fecha + ' - ' + hora;

        // Actualizar el contenido del modal con los datos del evento
        $('#eventoModalLabel').text(nombre);
        $('#eventoNombre').text(nombre);
        $('#eventoFechaHora').text(fechaHora);
        $('#eventoHost').text(host);
        $('#eventoLugar').text(lugar);
        $('#eventoDescripcion').text(descripcion);
        $('#eventoCategoria').text(categoria);

        //Agrega id del evento al formulario
        $('#eventoId').val(id);
    });
    
</script>

{% endblock %}



