{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/destacados.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style/perfil.css' %}">
{% endblock %}

{% block content %}
<div class="eventos-container">
	<form method="POST" enctype="multipart/form-data" class="adaptive-container text-center">
		{% csrf_token %} 
		
	    {% if user.profile %}
			<img src="{{user.profile.avatar.url}}" alt="{{ user.username }}" accept=".jpg,.jpeg,.png"/>
	    {% endif %}
	    
	    <h2 class="text-center">{{ user.username | title }}</h2>
	    <p class="text-center"><a href="mailto:{{user.email}}">{{user.email}}</a></p>
		<hr>
		
		<label for="first_name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="first_name" name="first_name" value="{{user.first_name}}" required>

		<label for="last_name" class="form-label">Apellidos</label>
    	<input type="text" class="form-control" id="last_name" name="last_name" value="{{user.last_name}}" required>

		<label for="nickname" class="form-label">Apodo</label>
        <input type="text" class="form-control" id="nickname" name="nickname" value="{{user.nickname}}" required>

		<label for="pronouns" class="form-label">Pronombre</label>
        <select id="pronouns" class="form-control" name="pronouns" required>
            <option class="disabled" value="">Elige un pronombre</option>
            <option value="El" {% if user.pronouns == "El" %} selected {% endif %}>El</option>
            <option value="La" {% if user.pronouns == "La" %} selected {% endif %}>La</option>
            <option value="Le" {% if user.pronouns == "Le" %} selected {% endif %}>Le</option>
            <option value="Otro" {% if user.pronouns == "Otro" %} selected {% endif %}>Otro</option>
        </select>

		<label for="email" class="form-label">Email Address:</label>
		<input type="email" id="email" class="form-control" name="email" value="{{user.email}}" required/>
	
		<label for="contact" class="form-label">Contacto</label>
        <input type="text" class="form-control" id="contact" name="contact" value="{{user.contact}}" required>

		<label for="avatar" class="form-label">Avatar:</label>
		<input type="file" class="form-control" name="avatar" id="avatar">
		
    <div class="column text-center" style="margin-top: 15px;">
      <div class="col-2">
        <a href="{%url 'perfil'%}"><button style="height: 40px; width: 150px;" type="submit" class="btn btn-primary">Actualizar perfil</button></a>
      </div>
      <div class="col-2">
        <a href="{%url 'perfil'%}" style="height: 40px; width: 150px;" class="btn btn-outline-danger">Cancelar</a>
      </div>
    </div>
	
	</form>
</div>
{% endblock %}